.marker-content {
  height: 8rem;
  width: 8rem;
  background-image: url('./img/marker-icon.png');
  background-size: 100% 100%;
  position: absolute;
  // top: -3rem;
  // left: -3rem;
  // &.key-school {
  //   background-image: url('./icons/key-school.png');
  //   .catalog-content {
  //     background-image: linear-gradient(90deg,
  //     rgba(162, 82, 3, 0.05) 0%,
  //     rgba(162, 82, 3, 0.25) 10%,
  //     rgba(162, 82, 3, 0.7) 50%,
  //     rgba(162, 82, 3, 0.25) 90%,
  //     rgba(162, 82, 3, 0.05) 100%
  //     );
  //     border-image: linear-gradient(90deg, rgba(162, 82, 3, 0), rgba(162, 82, 3, 0.85), rgba(162, 82, 3, 0)) 20 20;
  //   }
  // }
  .catalog-content {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -4rem;
    display: flex;
    align-items: center;
    transition: max-width 200ms;
    background-image: linear-gradient(90deg, rgba(7, 110, 134, 0.1) 0%, rgba(7, 110, 134, 0.47) 10%, #076e86 50%, rgba(7, 110, 134, 0.1) 90%, rgba(7, 110, 134, 0) 100%);
    border-image: linear-gradient(90deg, #74e2fc00, #74e2fcff, #74e2fc00) 20 20;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: 500;
    .title {
      margin: 0;
      padding: 0 5rem;
      font-size: 3.2rem;
      color: #f4ffff;
    }
  }
  &:hover {
    .catalog-content {
      max-width: 500px;
    }
  }
}
.marker-detail-content{
  height: 6rem;
  width: 6rem;
  background-image: url('./img/marker-icon.png');
  background-size: 100% 100%;
  position: absolute;
  .detail-content{
    position: absolute;
    left: 100%;
    top: 0;
    background: rgba(8, 15, 22, 0.8);
    border: 1px solid rgba(255, 192, 78, 0.4);
    color: #fff;
    padding: 9rem 10rem;
    min-width: 55rem;
    max-width: 42.2rem;
    margin-top: -3rem;
    margin-left: -3rem;
    z-index: -1;
  }
}