.marker-content-sheshui{
  height: 8rem;
  width: 8rem;
  background-image: url('./img/sheshui.png');
  background-size: 100% 100%;
  position: absolute;
  .catalog-content {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -4rem;
    display: flex;
    align-items: center;
    transition: max-width 200ms;
    background-image: linear-gradient(90deg, rgba(7, 110, 134, 0.1) 0%, rgba(7, 110, 134, 0.47) 10%, #076e86 50%, rgba(7, 110, 134, 0.1) 90%, rgba(7, 110, 134, 0) 100%);
    border-image: linear-gradient(90deg, #74e2fc00, #74e2fcff, #74e2fc00) 20 20;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: 500;
    .title {
      margin: 0;
      padding: 0 5rem;
      font-size: 3.2rem;
      color: #f4ffff;
    }
  }
  &:hover {
    .catalog-content {
      max-width: 500px;
    }
  }
}

.marker-content1-sheqi {
  height: 8rem;
  width: 8rem;
  background-image: url('./img/sheqi.png');
  background-size: 100% 100%;
  position: absolute;
  .catalog-content {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -4rem;
    display: flex;
    align-items: center;
    transition: max-width 200ms;
    background-image: linear-gradient(90deg, rgba(7, 110, 134, 0.1) 0%, rgba(7, 110, 134, 0.47) 10%, #076e86 50%, rgba(7, 110, 134, 0.1) 90%, rgba(7, 110, 134, 0) 100%);
    border-image: linear-gradient(90deg, #74e2fc00, #74e2fcff, #74e2fc00) 20 20;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: 500;
    .title {
      margin: 0;
      padding: 0 5rem;
      font-size: 3.2rem;
      color: #f4ffff;
    }
  }
  &:hover {
    .catalog-content {
      max-width: 500px;
    }
  }
}
.marker-detail-content2{
  height: 8rem;
  width: 8rem;
  background-image: url('./img/marker-icon.png');
  background-size: 100% 100%;
  position: absolute;
  .detail-content{
    white-space: normal;
    position: absolute;
    left: 100%;
    top: -1.2rem;
    background: rgba(8, 15, 22, 0.8);
    border: 1px solid rgba(255, 192, 78, 0.4);
    color: #fff;
    padding: 3rem 4rem;
    min-width: 54rem;
    margin-top: 0rem;
    margin-left: -4rem;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    p, h3{
      margin: 0;
    }
    .title{
      font-size: 3.4rem;
      color: #ABFDFE;
      margin-bottom: 4.75rem;
    }
    .sub-title{
      font-size: 2.5rem;
      font-weight: 500;
      color: #FFFFFF;
    }
    .value{
      font-size: 2rem;
      font-weight: 400;
      color: #FFFFFF;
    }
    .people-row{
      //display: flex;
      .item{
        margin-bottom: 3.75rem;
      }
    }
  }
}