@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
